@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color:#211381;  /*#211381*/
  /*background-image: linear-gradient(92.88deg,#AF40FF, #5B42F3 50%,#211381);*/
  /*background-image: linear-gradient(92.88deg,#037c69, #2a2379 50%,#390380); */
  background-color: #FAFAFA;
  scroll-behavior:smooth;
  font-family: 'Lato', sans-serif;
}



/***************************************** header**************************************************/
.navbar{
    background-color: white;
    padding-top: 1%;
    padding-left: 3%;
    height: 70px;
    margin-bottom: 2%;
    box-shadow: 1px 1px 5px 0.1px rgb(165, 165, 165);
}
.links{
  padding-left: 2.5%;
}
.links a:nth-child(-n+3){
  background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ),

  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);

background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 400ms;
position: relative;
top: -18%;
}
.links a:hover{
  background-size: 0 3px, 100% 3px;
}

.navbar a:nth-child(-n+3){
  color: inherit; 
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 4%;
  position: relative;
  bottom: 15px;
  }
.search-bar-container{
  margin-left: 11.1%;
  position: relative;
  bottom: 15px;
}
.search-bar-container input{
  padding: 9px;
  padding-left: 1.2%;
  padding-right: 4.5%;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 20px;
  font-size: 15.5px;
  font-weight: 0;
  outline: none;
}
.search-bar-container img{
  width: 17px;
  position: relative;
  top: 3px;
  right: 262%;
  cursor: pointer;
}
.search-bar-container button{
  background-color: white;
  border: 1px solid white;
}
#signinbutton{
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px 27px 7px 27px;
  font-size: 19px;
  font-weight: 400;
  margin-left: 1%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 15px;
  margin-right: 2%;
}
#signinbutton:hover{
  background-color: #057E83;
  color: white;
  transition: 0.3s;
  border: 1px solid #057E83;
}
#signupbutton{
  background-color: #057E83;
  color: white;
  border-radius: 5px;
  padding: 7.5px 22px 7.5px 22px;
  font-size: 19px;
  font-weight: 400;
  text-align: right;
  border: 1px solid #057E83;
  margin-top: -3%;
  position: relative;
  bottom: 15px;
}
#signupbutton:hover{
  border: 1px solid black;
  color: black;
  transition: 0.3s;
  background-color: white;
}
.logo img{
  width: 140px;
  margin-bottom: -0.9%;
  position: relative;
  top: 15%;
  margin-left: -4%;
}

.slider img{
  width: 1160px;
  height: 550px;
  border-radius: 15px;
  
}
.slider{
  margin-bottom: 6%;
  margin-right: 2%;
}
/*******************************************Header************************************************/

/***************************************** footer ***********************************************/
.footer_section{
  margin-top: 10%;
  background-color: #057E83;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
#logo_footer{
  margin: 11% 0% 0% 63%;
  width: 150px;
}
.footer_section p {
  font-size: 17px;
  font-weight: 400;
  color: white;
  margin: -1.5% 0% 0% 63%;
  width: 430px;
  line-height: 145%;
}
.footer_reseau_sociaux{
  position: relative;
  left: 56%;
  width: 600px;
}
.footer_reseau_sociaux img{
  width: 40px;
  margin-left: 6%;
  margin-top: 3%;
}
.copyright{
  font-size: 17px;
  font-weight: 350;
  color: white;
  margin: -1.5% 0% 0% 63%;
  width: 500px;
  margin-top: 3%;
}
.useful_links{
  display: flex;
  flex-direction: column;
  margin: 3.2% 0% 0% 30%;
  color: white;  
}
.useful_links a {
  color: white;
  margin-bottom: 30%;
  font-size: 17px;
  font-weight: 300;
}
.account_links{
  display: flex;
  flex-direction: column;
  margin: 3.2% 0% 0% 10%;
  color: white;
}
.account_links a{
  color: white;
  margin-bottom: 30%;
  font-weight: 300;
  font-size: 17px;
}
/***************************************** footer ***********************************************/
/**********************************Caractéristique page********************************************/
.titlesec1{
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
}
.descsec1{
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
.titlesec2{
  font-size: 38px;
  font-weight: 900;
  
  text-transform: capitalize;
}
.descsec2{
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
}
.containertext2{
  width: 500px;
  margin-top: 6%;
}
.titlesec3{
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
}
.descsec3{
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
   
}
.descsec3 ul{
  list-style-type: none;
}

/*****************************************Caractéristique page**************************************************/
.lesliste{
    width: 80%;
    padding: 100px;
    background-image: linear-gradient(92.88deg,#158795, #26458a 50%,#350b80);
    border-radius: 50px;
    color: white;
    align-items: center;
    /*justify-content: center;*/
    margin-left: 4.7%;
}
.lesliste:hover{
  box-shadow: 14px 14px 5px 1.5px rgba(0, 0, 255, .2);
  transition: 0.3s;
}
.lesliste2{
  height: 850px;
  padding: 10px;
  background-image: linear-gradient(20.88deg,#26458a, #350b80 50%,#158795);
  color: white;
  align-items: center;
  margin-top: 10%;
}
.lesliste2:hover{
  box-shadow: 14px 14px 5px 1.5px rgba(0, 0, 255, .2);
  transition: 0.3s;
}
.lesliste3{
  width: 90%;
  padding: 25px;
  height: 105%;
  color: black;
  align-items: center;
  margin-left: 3.5%;
  margin-top: 9%;
}
.container1{
  display: flex;
}
.container2{
  display: flex;
  flex-direction: column;
  text-align: center;   
}
.container3{
  display: flex;
}
.lesliste img{
  height: 420px;
}
.hero:hover img{
  margin-left: 1%;
  transition: 0.8s
}
.lesliste2 img{
  margin-top: 3%;
  margin-left: -2%;
  height: 450px;
}
.premium:hover {
  margin-left: 1%;
  transition: 0.8s
}
.lesliste3 img{
  height: 420px;
}
.checked img{
  height: 21px;
  width: 21px ;
  margin-right: 10px;
  float: left;
  margin-top: 4px;
  
}
/*************************************Caractéristique page**************************************/


/*****************************************Podacat page**************************************************/
.container_for_seeMore{
  margin: 0 calc(40px + 13.2%); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.podcast_section h2{
  font-size: 24px;
  font-weight: 900;
}
.container_for_seeMore a:nth-child(2){
  margin-right: 1.3%;
  color: rgb(114, 114, 114);
  font-size: 20px;
  font-weight: 300;
}
.container_for_seeMore a:nth-child(2):hover{
  color: black;
  font-size: 21px;
  transition: 0.4s;
}

.podcast_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 4%;

}

.podcast{
 width: 200px;
}
.podcast h4, p {
  margin: 0px;
  padding-top: 2%;
}

.podcast h4 {
  font-size: 16px;
  font-weight: 900;
}
.podcast p {
  font-size: 16px;
  font-weight: 0;
}

.podcast img{
  width: 180px;
  border-radius: 15px;
 }
 .podcast img:hover{
  box-shadow: 4px 5px 14px 2px rgb(165, 165, 165);
  transition: 0.5s;
}

.topic_links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% 15% 4% 14%;
  
  
}
.topic_section h2{
  margin-left: 15.45%;
  font-size: 27px;
  font-weight: 900;
}
.topic_section a {
  color: black; 
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #E4E4E4;
  margin: 1% 1% 1.3% 0.5%;
  padding: 0.9%;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0.1px rgb(165, 165, 165);
  
}
.topic_section a:hover {
  background-color: #057E83;
  transition: 0.2s;
  color: white;
  
}
/*****************************************Podacat page**************************************************/



/*****************************************Podacats_topic page**************************************************/
.podcast_topic_section h2{
  font-size: 24px;
  font-weight: 900;
  margin-left: 15.45%;
}

.podcast_topic_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% 11%;
}

.podcast_topic{
 width: 200px;
 margin-bottom: 4%;
}
.podcast_topic h4, p, a {
  margin: 0px;
  padding-top: 2%;
  text-decoration: none;
  color: black;
}

.podcast_topic h4 {
  font-size: 16px;
  font-weight: 900;
}
.podcast_topic p {
  font-size: 16px;
  font-weight: 0;
}

.podcast_topic img{
  width: 180px;
  border-radius: 15px;
  
 }

/*****************************************Podacats_topic page**************************************************/

/*****************************************Podacat_detail page**************************************************/
.podcast_detail_interface{
  /*width: 100%;*/
}
#hero_id{
  width: 100%;
  margin-bottom: 3%;
  margin-top: -2%;
  padding: 0%;
}
.links_id a {
  margin-left: 6%;
  margin-right: 1%;
  color: #197073;
  font-weight: 700;
}
.links_id a:hover {
  color: #D94F1C;
}
.links_id span{
  color: rgb(100, 100, 100);
}
.podcast_id_container{
  display: flex;
  margin: 4% 0% 0% 6%;
  
}
.podcast_id_container div{
  margin-left: 2%;
  width:74%;
}
#title_id{
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 2%;
}
/*.podcast_id_container p:nth-child(-n+2)
.podcast_id_container p:nth-child(n+3)*/
#author_id{
  color: rgb(100, 100, 100);
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 2%;
}
#description_id{
  font-size: 20px;
  font-weight: 400;
}

#image_id{
  width: 470px;
  border-radius: 7px;
  box-shadow: #4cb37ad0 0px 0px 30px;
}
#play_id{
  margin: 2% 0% 0% 1.7%;
  width: 160px;
}
.podcast_id p{
  margin: 0% 2% 0% 2%;
  color: #197073;
  font-size: 20px;
  font-weight: 900;
  
}
#fb_id{
  width: 30px;
  margin: 1.5% 2% 0% 2%;
}
#twitter_id{
  width: 42px;
}
.tracks_section select{
  margin-top: 3%;
  margin-left: 12.5%;
  padding: 11px 12px 11px 12px;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: 300;
  transition: 0.3s;
}
.tracks_section option{
  border: 2px solid black;
  transition: 0.3s;
  text-align: center;
}
.tracks_section h3{
  font-size: 60px;
  font-weight: 300;
  margin-top: 8%;
  margin-left: 5.5%;
}
.theline {
  background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0.281) 50%, transparent 0%);
  background-size: 100% 1px;
  background-position: 0 30px;
  height: 2px;
  margin-bottom: 3%;
}

.track{
  margin: 0 calc(40px + 3%); 
}
.track_container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 3%;
  
}
#mic_icon_track{
  width: 30px;
  margin-left: 0%;
}
.track_info{
  margin-left: 2.5%;
  width: 80%;
}
.track_info h4{
  font-size: 35px;
  font-weight: 350;
  margin: 0%;
}
.track_info p:nth-child(-n+2){
  font-size: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.521);
  margin-top: -0.6%;
}
.track_info p:nth-child(n+3){
  font-size: 16.5px;
  font-weight: 600;
  margin: 0%;
  margin-top: -0.6%;
}
.mytrack_info{
  margin-left: 2.5%;
  width: 75%;
}
.mytrack_info h4{
  font-size: 35px;
  font-weight: 350;
  margin: 0%;
}
.mytrack_info p:nth-child(-n+2){
  font-size: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.521);
  margin-top: -0.6%;
}
.mytrack_info p:nth-child(n+3){
  font-size: 16.5px;
  font-weight: 600;
  margin: 0%;
  margin-top: -0.6%;
}
#play_track{
  width: 140px;
  margin-left: auto;
  /*position: absolute;
  right: 10%;*/
}
.bouton_play_track{
  display: flex;
  flex-wrap: wrap;
}
.bouton_play_track button{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
  width: 50%;
}
.bouton_play_track button:hover{
  opacity: 0.7;
}
.bouton_play_mytrack{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6%;
}
.bouton_play_mytrack button{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}
.bouton_play_mytrack button:hover{
  opacity: 0.7;
}
.react-h5-audio-player{
  font-size: 25px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.space{
  margin-top:9%;
}
.track_links_and_buttons{
  margin-top: 3.5%;
  margin-bottom: -40%;
  width: 100%;
  margin-left: 42%;
}
.track_links_and_buttons a{
  background-color: white;
  color: #057E83;
  padding: 8px 12px 10px 12px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #057E83;
}
.track_links_and_buttons a:hover{
  border: 2px solid #057E83;
  background-color: #057E83;
  color: white;
  transition: 0.3s;
}
#edit_icon_mypodcast{
  font-size: 22px;
  text-align: center;
}
.track_links_and_buttons button{
  opacity: 1;
  color: #D94F1C;
  padding: 10px 5px 10px 5px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #D94F1C;
  background-color: white;
  color: #D94F1C;
  margin-left: 5%;
}
.track_links_and_buttons button:hover{
  opacity: 1;
  border: 2px solid #D94F1C;
  background-color: #D94F1C;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  z-index: 999;
}
/*****************************************Podacats_detail page**************************************************/

/*****************************************Podacats_search result page**************************************************/
#the_result{
margin-left: 15.3%;
margin-bottom: 2.5%;
}
/*****************************************Podacats_search result page**************************************************/

/***************************import_podcast and import_track pages (il on quasiment le meme style)********************************/
.form_podcast{
  margin: 0 calc(40px + 15%); 
}
.form_podcast h2{
  margin-top: 9%;
  margin-bottom: 4%;
  font-size: 32px;
  font-weight: 900;
}
.form_podcast h3{
  font-size: 26.5px;
  font-weight: 500;
  color: #6F6F6F;
}
.theline_form {
  background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0.281) 50%, transparent 0%);
  background-size: 100% 1px;
  background-position: 0 30px;
  height: 2px;
  margin-bottom: 3%;
  margin-right: 30%;
}
.titlesection{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.titlesection label{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3%;
}
.titlesection input{
  height: 42px;
  border: 2px solid #00000025;
  font-size: 21px;
  font-weight: 300;
  font-weight: 0;
  outline: none;
  padding-left: 2.5%;
}
.title_validateur{
  margin-left: auto;
  color:#7e7e7e;
  font-size: 18px;
  font-weight: 300;
}
.Description_validateur{
  margin-left: auto;
  color:#7e7e7e;
  font-size: 18px;
  font-weight: 300;
}
.description_section{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.description_section label{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3%;
  margin-top: 6%;
}
.description_section textarea{
  height: 150px;
  border: 2px solid #00000025;
  font-size: 21px;
  font-weight: 300;
  font-weight: 0;
  outline: none;
  padding-left: 2.5%;
  padding-top: 2%;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.author_section{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 5%;
}
.author_section label{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3%;
}
.author_section input{
  height: 42px;
  border: 2px solid #00000025;
  font-size: 21px;
  font-weight: 300;
  font-weight: 0;
  outline: none;
  padding-left: 2.5%;
}

#import_topic_title{
  margin-top: 10%;
}
.import_topic_section{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 5%;
}
.import_topic_section label{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3%;
}
.import_topic_section select{
  height: 42px;
  border: 2px solid #00000025;
  font-size: 21px;
  font-weight: 300;
  font-weight: 0;
  outline: none;
  padding-left: 2.5%;
  color: rgba(0, 0, 0, 0.603);
}
#import_podcast_bottom{
  margin-top: 5%;
  margin-right: 4%;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  padding: 2%;
  background-color: #D94F1C;
  color: white;
  padding: 15px 22px 15px 22px;
  font-size: 21px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #D94F1C;
}

#import_podcast_bottom:hover{
  border: 1px solid black;
  color: black;
  transition: 0.3s;
  background-color: white;
  cursor: pointer;
}
.success_message{
  background-color: #027C68;
  color: white;
  padding: 15px 22px 15px 22px;
  font-size: 21px;
  font-weight: 400;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  margin-top: 5%;
}
.uploadbutton_container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13%;
}
.imagePodcast_section{
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: #b4b4b4d0 0px 0px 30px;
  border-radius: 15px;
  height: 450px;/*380px*/
  width: 300px;
  padding: 3%;
  margin-right: -8%;
  margin-top: -12%;
}
.imagePodcast_section:hover{
  box-shadow: #d94e1c8e 0px 0px 20px;
  border: 1px solid #d94e1c8e;
  transition: 0.5s;
  
}
.imagePodcast_section h4{
  color: rgb(146, 146, 146);
  margin-top: -0%;
  font-size: 26px;
  font-weight: 300;
}
.imagePodcast_section h4:hover{
  color: #d94e1c8e;
}
.imagePodcast_section input{
  vertical-align:bottom;
  position: absolute;
  bottom: 0;
  margin-bottom: 8%;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: white;
  
}
.imagePodcast_section input[type="file"]::-webkit-file-upload-button {
  /*visibility: hidden;*/
  color: black;
  outline: none;
  border: none;
  background: none;
  padding: 12px 18px 12px 18px;
  font-size: 21px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 13%;
}
.imagePodcast_section input[type="file"]::-webkit-file-upload-button:hover {
  color: #D94F1C;
  border: 1px solid #D94F1C;
  transition: 0.3s;
  cursor: pointer;
}
.imagePodcast_section img{
  width: 300px;
  height: 300px;
  border-radius: 7px;
  box-shadow: #d94e1c8e 0px 0px 20px;
}
/********import audio track section*******/
.importAudio_section{
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(156, 156, 156, 0.575);
  box-shadow: #c7c7c7d0 0px 0px 15px;
  height: 135px;/*380px*/
  width: 520px;
  padding: 3%; 
}
.importAudio_section:hover{
  box-shadow: #d94e1c5d 0px 0px 15px;
  border: 1px solid #d94e1c8e;
  transition: 0.5s;
}
.importAudio_section h4{
  color: rgb(146, 146, 146);
  margin-top: -0%;
  font-size: 26px;
  font-weight: 300;
}
.importAudio_section h4:hover{
  color: #D94F1C;
}
.importAudio_section input{
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-left: 8%;
  margin-top: 0.5%;
}
.importAudio_section input[type="file"]::-webkit-file-upload-button {
  /*visibility: hidden;*/
  color: black;
  outline: none;
  border: none;
  background: none;
  padding: 12px 18px 12px 18px;
  font-size: 21px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}
.importAudio_section input[type="file"]::-webkit-file-upload-button:hover {
  color: #D94F1C;
  border: 1px solid #D94F1C;
  transition: 0.3s;
  cursor: pointer;
}

/***********************loader*************************/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.loading_wheel{
  position: relative;
  right: 12%;
  margin-top: 20%;

}
/************************loader****************************/

/********import audio track section*******/
/***********************import_podcast and import_track pages (il on quasiment le meme style)***************************/

/************************************************mypodcast_page**********************************************/
.mypodcast_page{
  margin: 0 calc(40px + 15%); 
}
.searchbar_mypodcast input{
  padding:12px;
  padding-left: 10%;
  padding-right: 46%;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 0;
  outline: none;
}
.searchbar_mypodcast img{
  width: 19px;
  position: relative;
  bottom: 32.5px;
  left: 283px;
}
.searchbar_mypodcast button{
  background-color: white;
  border: 1px solid white;
}
.mypodcast_top_part{
  margin-bottom: 9%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mypodcast_top_part h2{
  margin: 0%;
  padding-bottom: 3%;
  font-size: 29px;
  font-weight: 900;
}
#mic_icon_mypodcast{
  width: 18px;
  padding-right: 3%;
  position: relative;
  top: 4.5px
}
.mypodcast_top_part p{
  margin-bottom: 15%;
  position: relative;
  
}
.mypodcast_top_part a{
  color: white;
  padding: 21px 20px 21px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid #D94F1C;
  text-align: center;
  background-color: #D94F1C;
  position: relative;
  top: 50%;
}
.mypodcast_top_part a:hover{
  transition: 0.3s;
  border: 1px solid black;
  background-color: white;
  color: black;
}
#plus_icon_mypodcast{
  width: 24px;
  font-size: 20px;
  position: relative;
  top: 1.5px;
}
.mypodcast{
  display: flex;
  margin-bottom: 5%;
}
.mypodcast img{
  width: 230px;
  border-radius: 5px;
  margin-right: 53px;
}
.mypodcast_info{
  width: 66%;
  margin-top: -2.5%;
}
.mypodcast_info h3{
  margin-bottom: -5%;
  font-size: 26px;
  font-weight: 900;
}
.mypodcast_info h4{
  color: rgb(75, 74, 74);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1%;
}
.mypodcast_info p{
  font-size: 19px;
  font-weight: 500;
}
.mypodcast_links{
  display: flex;
  flex-wrap: wrap;
  width: 131.5%;
}
.mypodcast_links a {
  margin-right: 6.5%;
  color: #D94F1C;
  padding: 8px 12px 8px 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  margin-top: 4%;
}
.mypodcast_links a:nth-child(1){
  border: 2px solid #D94F1C;
}
.mypodcast_links a:nth-child(1):hover{
  border: 2px solid #D94F1C;
  background-color: #D94F1C;
  color: white;
  transition: 0.3s;
}
.mypodcast_links button{
  margin-right: 6.5%;
  color: #D94F1C;
  padding: 8px 12px 8px 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  margin-top: 4%;
  border: 2px solid #D94F1C;
  background-color: #D94F1C;
  color: white;
}
.mypodcast_links button:hover{
  border: 2px solid #D94F1C;
  background-color: white;
  color: #D94F1C;
  transition: 0.3s;
  cursor: pointer;
}
.mypodcast_links a:nth-child(3){
  margin-left: auto;
}
.mypodcast_links a:nth-child(3):hover{
  color:#d94e1cc7;
}
#fleche_en_bas_orange{
  width: 20px;
  position: relative;
  top: 5px;
}
.mypodcast_links select{
  z-index: 999;
  /*border: none;*/
  margin-top: 3.6%;
  margin-left: auto;
  margin-right: 13.7%;
  border: 1px solid #D94F1C;
  background-color: white;
  color: #D94F1C;
  font-size: 17px;
  font-weight: 300;
  transition: 0.3s;
  border-radius: 5px;
}
.mypodcast_links option{
  border: 1px solid #D94F1C;
  transition: 0.3s;
  color: #D94F1C;
  text-align: center;
  font-weight: 100;
}
.mypodcast_edit a{
  background-color: white;
  color: #057E83;
  padding: 10px 14px 10px 14px;
  font-size: 25px;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #057E83;
  position: relative;
  top: 8%;
}
.mypodcast_edit a:hover{
  border: 2px solid #057E83;
  background-color: #057E83;
  color: white;
  transition: 0.3s;;
}
#edit_icon_mypodcast{
  font-size: 22px;
  text-align: center;
}
/**********footer2***********/
.footer2{
  background-color: white;
  height: 90px;
  box-shadow: 1px 1px 5px 0.1px rgb(165, 165, 165);
  display: flex;
  justify-content: space-around;
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 14.6%;
}
.footer2 a{
  /*margin-top: -0.65%;*/
  margin-top: 1%;
  color: #D94F1C;
  padding: 11px 11px 11px 11px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  height: 33%;
  color: white;
}
.footer2 a:nth-child(1){
  border: 2px solid #D94F1C;
  color: #D94F1C;
}
.footer2 a:nth-child(1):hover{
  background-color: #D94F1C;
  border: 2px solid #D94F1C;
  color: white;
  transition: 0.3s;
}
.footer2 a:nth-child(2){
  background-color: #D94F1C;
  border: 2px solid #D94F1C;
}
.footer2 a:nth-child(2):hover{
  background-color: white;
  border: 2px solid #D94F1C;
  color: #D94F1C;
  transition: 0.3s;
}
/**********footer2***********/
/************************************************mypodcast_page**********************************************/

/************************************************myplaylist_page**********************************************/
.myplaylist_page{
  margin: 0 calc(40px + 15%); 
}
.myplaylist_all_section{
  margin-bottom: 9%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.myplaylist_top_part{
  
}
.myplaylist_top_part h2{
  margin: 0%;
  padding-bottom: 3%;
  font-size: 29px;
  font-weight: 900;
}
#mic_icon_mypodcast{
  width: 18px;
  padding-right: 3%;
  position: relative;
  top: 4.5px
}
.myplaylist_top_part p{
  margin-bottom: 15%;
  position: relative;
}

.myplaylist_section{
  margin-right: 21%;
  margin-top: -6%;
}
.newpaylist{
  width: 155%;
}
.myplaylist_section input{
  height: 38px;
  border: 2px solid #00000025;
  font-size: 22px;
  font-weight: 300;
  outline: none;
  padding-left: 2.5%;
  padding-right: 25.5%;
  margin-right: 4%;
}
#add_new_playlist_button{
  color: white;
  padding: 9px 11px 9px 11px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #D94F1C;
  text-align: center;
  background-color: #D94F1C;
  margin-top: 10%;
}
#add_new_playlist_button:hover{
  transition: 0.3s;
  border: 1px solid black;
  background-color: white;
  color: black;
}
.all_myplaylist{
  margin-top: 18%;
}
.myplaylist{
  display: flex;
  margin-bottom: 7%;
  width: 170%;
  
}
.playlist_info{
  width: 66%;
  margin-top: -2.5%;
}
.playlist_info h3{
  margin-bottom: -5%;
  font-size: 23px;
  font-weight: 900;
}
.playlist_info p{
  margin-top: 5%;
  color: rgb(109, 109, 109);
}
.playlist_links_and_buttons{
  margin-top: 1.5%;
}
.playlist_links_and_buttons a{
  background-color: white;
  color: #057E83;
  padding: 7px 9px 7px 9px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #057E83;
  margin-left: -9%;
}
.playlist_links_and_buttons a:hover{
  border: 2px solid #057E83;
  background-color: #057E83;
  color: white;
  transition: 0.3s;
}
#edit_icon_mypodcast{
  font-size: 22px;
  text-align: center;
}
.playlist_links_and_buttons button{
  color: #D94F1C;
  padding: 7px 9px 7px 9px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #D94F1C;
  background-color: white;
  color: #D94F1C;
  margin-left: 95%;
}
.playlist_links_and_buttons button:hover{
  border: 2px solid #D94F1C;
  background-color: #D94F1C;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.theline_playlist {
  background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0.281) 50%, transparent 0%);
  background-size: 100% 1px;
  background-position: 0 30px;
  height: 2px;
  margin-bottom: 4%;
  margin-top: -3%;
  margin-right: -48.8%;
}

/************************************************myplaylist_page**********************************************/


/************************************************Contact-Us_page**********************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.contact_topContent{
  margin: 0 calc(40px + 16.5%); 
}
.contact_topContent h2{
  font-size: 60px;
  font-weight: 900;
}
.contact_topContent p{
  font-size: 25px;
  font-weight: 300;
  color: rgb(117, 117, 117);
}

.all_contact_us_page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.all_contact_us_page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.all_contact_us_page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    
}

.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}

.container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.container .contactForm h2 {
     color: #0f3959;
     font-size: 24px;
     font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500; 
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #095a55;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #0d948b;
}

/*responsive*/
@media (max-width:1200px) {
    .container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }
    .container .contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0px;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width:991px) {

    section::before {
        display: none;
    }
    .container {
        display: flex; 
        flex-direction: column-reverse;
    }
    .container .contactForm {
        width: 100%;
        height: auto;
    }
    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:600px) {
    .container .contactForm {
        padding: 25px;
    }
    .container .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container .contactInfo ul.sci {
        margin-top: 40px;
    }
    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
}
/************************************************Contact-Us_page**********************************************/

/************************************* css recherche avancee ************************************************/
.filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f5f5f5;
 
}

.filter-group {
  margin-right: 10px;
}

.filter-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.radio-buttons-topic{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-text {
  font-size: 20px;
}

/* Style radio button */

.radio-label input[type="radio"] {
  display: none;
}

.radio-label input[type="radio"] + span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.radio-label input[type="radio"]:checked + span:before {
  background-color: #027C68;
  border-color: #027C68;
}

.radio-label .radio-text {
  font-size: 20px;
  vertical-align: middle;
}
.filter-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  color:  black ;
 
  margin-bottom: 10px;
}


/***** Style btn Search ************/
#btnSearch {
  background-color: #027C68;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

#btnSearch:hover {
  background-color: #035F4B;
}
/**************************************************************************************************/